* {
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  align-items: center;
  background-color: #000000;
  justify-content: space-between;
}

body{
    font-family: "Roboto", sans-serif;
}

.logo img {
  width: 100px;
}

.nav-list {
  display: flex;
}

.nav-item {
  padding-right: 30px;
  list-style: none;
}

.nav-item a {
  text-decoration: none;
  color: #ffffff;
}

.nav-link:hover {
  font-size: 18px;
}

.hero {
  display: flex;
}

.hero-img {
  max-width: 50%;
}

.hero-img img {
  max-width: 100%;
}

.hero-txt-part {
  padding: 10px 0px;
}

.hero-txt-part h1 {
  font-size: 50px;
}

.hero-txt-part p {
  color: #979797;
}

.hero-btn button {
  border-radius: 20px;
  padding: 8px;
  border: 1px solid;
}

.feature-items{
    background-color: #d1d1d1;
    padding: 30px;
}

.main-container{
    display: flex;
    padding: 50px;
}

.main-container img{   
    height: 100%;
    width: 100%;
    max-height: 400px;
    max-width: 400px;
}

.container{
    padding: 20px;
}

.shoe-name{
    padding: 10px 0px;
}

a{
    text-decoration: none;
    color: #000000;
}

.recommendition{
    padding: 30px;
}

.recommendition-container{
    display: flex;
}

.recommendition-container img{
    height: 100%;
    width: 100%;
    max-height: 400px;
    max-width: 400px;
}
