* {
  margin: 0px;
  padding: 0px;
}

header {
  display: flex;
  align-items: center;
  background-color: #000000;
  justify-content: space-between;
}

body {
  font-family: "Roboto", sans-serif;
}

.logo img {
  width: 100px;
}

.nav-list {
  display: flex;
}

.nav-item {
  padding-right: 30px;
  list-style: none;
}

.nav-item a {
  text-decoration: none;
  color: #ffffff;
}

.nav-link:hover {
  font-size: 18px;
}

.hero {
  display: flex;
}

.hero-img {
  max-width: 50%;
}

.hero-img img {
  max-width: 100%;
}

.hero-txt-part {
  padding: 10px 0px;
}

.hero-txt-part h1 {
  font-size: 50px;
}

.hero-txt-part p {
  color: #979797;
}

button {
  border-radius: 20px;
  padding: 8px;
  border: 1px solid;
  font-size: 15px;
}

.feature-items {
  background-color: #d1d1d1;
  padding: 30px;
}

.main-container {
  display: flex;
  padding: 30px;
}

.main-container img {
  height: 100%;
  width: 100%;
  max-height: 400px;
  max-width: 400px;
}

.container {
  padding: 20px;
}

.shoe-name {
  padding: 10px 0px;
}

a {
  text-decoration: none;
  color: #000000;
}

.recommendition {
  padding: 50px;
}

.recommendition-container {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 0px;
}

.recommendition-container img {
  height: 100%;
  width: 100%;
  max-height: 400px;
  max-width: 375px;
}

.recommenditon-btn {
  text-align: center;
}

.recommenditon-btn button:hover {
  background-color: #000000;
  color: #ffffff;
}

.store {
  background-color: #000000;
  color: #ffffff;
}

.store h1 {
  font-size: 40px;
  padding: 25px;
}

.store-container {
  display: flex;
  padding: 45px;
}

.store-img img {
  height: 450px;
  padding-right: 30px;
}

.store-txt {
  padding: 20px;
}

.store-txt p {
  color: #d1d1d1;
}

.store-txt button {
  background-color: #1a1a1a;
  color: #d1d1d1;
}

.team h1 {
  text-align: center;
  padding-top: 30px;
  font-size: 40px;
}

.team-container {
  display: flex;
  padding: 30px;
}

.team-img img {
  height: 100%;
  width: 100%;
  max-height: 400px;
  max-width: 400px;
  padding-bottom: 10px;
}

footer {
  background-color: #000000;
  color: #ffffff;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}

.contact i {
  padding: 7px;
}

.copyright{
  text-align: center;
  color: #d1d1d1;
  font-size: 10px;
  word-spacing: 2px;
}
